.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.body{
  background-image: url("./Assets/bg.jpg") ;
}
.main-div{
  background-color: white;
}
#navbar-custom{
  background-color: maroon !important; 

}
#read{
  background: url("./Assets/bg.jpg");
  background-repeat: repeat-y;
}
#readData{
  display:  inline-flex;
  padding: 5px;
  
}

#covers{
  
  max-width:300px;
  max-height:250px;
  width: auto;
  height: auto;
}

#Card{
  background-color: crimson;
  color: white;
  background: linear-gradient(to top, #ed213a, #93291e); 
  font-style: normal;
  font-size: 20px;
}
#rate{
  height: 1.5rem;
 
}
#span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
  
}